<div class=jumbtron>
	<div class="row">
		<div class="col-md-10">
			<h1 class="display-4 text-center">Eventos</h1>			
		</div>
		<div class="col-md-2">
			<app-logout></app-logout>	
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<h6 class="text-center">
			Agregar o ver evento
			</h6>
            <app-events></app-events>
		</div>
		<div class="col-md-8">
			<h6 class="text-center">
			Listado de eventos
			</h6>
            <app-list-events></app-list-events>
		</div>
	</div>
</div>